<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>INVOICr: <K:title/></title>
        <base href="<K:base_url/>/" />
        <link rel="stylesheet" href="templates/base.css" type="text/css" media="screen" />
    </head>
    <body>
        <h1>INVOIC<span class="pink">r</span></h1>
        <div class="navigation">
            <a href="xhtml.php/home"> Home </a>
            <a href="xhtml.php/invoices">Invoices</a>
            <!--<a href="xhtml.php/themes">Themes</a>
            <a href="xhtml.php/plugins">Plugins</a>-->
            <a href="settings/configure.php">Settings</a>
        </div>
        <h2><K:title/></h2>
        <div>
            <K:content/>
        </div>
    </body>
</html>
